<main>
  <div class="container" style="background-image: url('assets/images/note-code/Hero-Background-notecode.svg')">
    <img src="assets/images/note-code/NoteCodeLogo.svg" alt="test">
    <h1>Create & Share</h1>
    <h2>Your Code easily</h2>
    <section>
      <div class="editor-wrap">
        <ngx-monaco-editor
          style="height: 100%"
          [options]="editorOptions"
          [(ngModel)]="code">
        </ngx-monaco-editor>
      </div>
      <div class="footer-container">
        <div class="theme-container">
            <p-select
              [(ngModel)]="selectedLanguage"
              [options]="languages"
              optionLabel="language"
              optionValue="value"/>
<!--              <option>HTML</option>-->
<!--              <option>CSS</option>-->
<!--              <option>JS</option>-->
<!--            </select>-->
<!--            <img src="assets/images/note-code/down%20arrow.svg" alt="Arrow">-->
          <button>
            <select >
              <option>Light</option>
              <option>Dark</option>
            </select>
            <img src="assets/images/note-code/down%20arrow.svg" alt="Arrow">
          </button>
        </div>
        <div class="share-container">
          <button><img src="assets/images/note-code/Share.svg" alt="Share Logo">Share</button>
        </div>
      </div>
    </section>
  </div>
</main>
