<main>
  <div class="main-container" style="background-image: url('assets/images/note-code/Hero-Background-notecode.svg')">
    <header>
      <img src="assets/images/note-code/NoteCodeLogo.svg" alt="test">
      <div class="title-container">
        <h1>Create & Share</h1>
        <h2>Your Code easily</h2>
      </div>
    </header>
    <div class="section-container">
      <section class="{{selectedTheme.value}}">
        <div class="editor-wrap">
          <div id="editor">

          </div>
          <ngx-monaco-editor
            style="height: 100%"
            [options]="editorOptions"
            [(ngModel)]="code"
            (onInit)="onEditorInit($event)"
            (ngModelChange)="updateCode()"
          />
        </div>
        <div class="footer-container">
          <div class="theme-container">
            <div class="select-container">
              <p-button (click)="toggle('language')"><p class="button-text">{{selectedLanguage.label}}</p><img src="assets/images/note-code/down%20arrow.svg" alt="Arrow"></p-button>
              <p-overlay [(visible)]="overlaysVisibility.language" [responsive]="{breakpoint: '640px', direction: 'top'}">
                <ng-template #content let-option>
                  <div class="options-container">
                    <p-button *ngFor="let language of languages" [label]="language.label" (click)="update('language', language.value)"></p-button>
                  </div>
                </ng-template>
              </p-overlay>

            </div>
            <div class="select-container">
              <p-button (click)="toggle('theme')"><p class="button-text">{{selectedTheme.label}}</p><img src="assets/images/note-code/down%20arrow.svg" alt="Arrow"></p-button>
              <p-overlay [(visible)]="overlaysVisibility.theme" [responsive]="{breakpoint: '640px', direction: 'top'}">
                <ng-template #content let-option>
                  <div class="options-container">
                    <p-button *ngFor="let theme of themes" [label]="theme.label" (click)="update('theme', theme.value)"></p-button>
                  </div>
                </ng-template>
              </p-overlay>
            </div>
          </div>
          <div class="share-container">
            <div *ngIf="shared">
              <a class="link" (click)="copyToClipboard()">
                <img src="assets/images/note-code/link.svg" alt="Link logo">
                <p class="link-text">.../{{id}}</p>
              </a>
            </div>
            <p-button label="Share" [disabled]="shared" (click)="shareCode()">
              <img src="assets/images/note-code/Share.svg" alt="Share Logo">
            </p-button>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
