<main>
  <div class="main-container" style="background-image: url('assets/images/note-code/Hero-Background-notecode.svg')">
    <header>
      <img src="assets/images/note-code/NoteCodeLogo.svg" alt="test">
      <div class="title-container">
        <h1>Create & Share</h1>
        <h2>Your Code easily</h2>
      </div>
    </header>
    <section>
      <div class="editor-wrap">
        <ngx-monaco-editor
          style="height: 100%"
          [options]="editorOptions"
          [(ngModel)]="code"
        />
      </div>
      <div class="footer-container">
        <div class="theme-container">
          <div class="select-container">
            <p-button (click)="toggle('language')" [label]="selectedLanguage.label"></p-button>
            <p-overlay [(visible)]="overlaysVisibility.language"  >
              <ng-template #content let-option>
                <div class="options-container">
                  <p-button *ngFor="let language of languages" [label]="language.label"></p-button>
                </div>
              </ng-template>
            </p-overlay>
<!--            <p-overlay [(visible)]="overlaysVisibility.language" [mode]="'overlay'" >-->
<!--              <ng-template #content let-option>-->
<!--                Content - {{option.mode}}-->
<!--              </ng-template>-->
<!--              <p-button *ngFor="let language of languages" [label]="language.label"></p-button>-->
<!--            </p-overlay>-->
<!--            <p-button (click)="toggle('language')" [label]="selectedLanguage"></p-button>-->
          </div>
          <div class="select-container">
            <select>
              <option *ngFor="let theme of themes" [value]="theme.value">{{theme.label}}</option>
            </select>
          </div>
        </div>
        <div class="share-container">
          <button><img src="assets/images/note-code/Share.svg" alt="Share Logo">Share</button>
        </div>
      </div>
    </section>
  </div>
</main>
